<div class="container">
  <table>
    <tr>
      <th class="left blue">Display name</th>
      <th class="left blue">OS</th>
      <th class="left blue">OS version</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td class="left"><%= link_to user["displayname"], user_path(user["id"]) %></td>
        <td class="left"><%= user["email"] %></td>
        <td class="left"><%= user["lastLogon"] %></td>
      </tr>
    <% end %>
  </table>

  <div class="footer"><%= link_to "Home", root_path %></div>
</div>
